html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #ffe500;
  display: block;
}

h1 {
  color: #b20953;
  font-family: Sigmar One;
  text-align: center;
  font-size: 3rem;
}

nav ul li{
  display: inline-block;
  list-style-type: none;
}

li a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #b2a212;
  color: #fff;
  font-size: 1.875rem;
  font-family: Georgia;
  border: 3px solid #b2a212;
  border-radius: 7px;
  padding: .4em .75em .5em;
  text-decoration: none;
  margin: 0;
}

.current {
  background-color: #b20953;
  border-color: #b20953;
  display: inline-block;
}

nav {
  display: inline-block;
}
